 @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    /* setting font size for rem */
    /* font-size: 16px; */
}


body
{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://github.com/NiazMahmud2001/carzonexd/blob/main/4k-car-wallpaper-1.jpg?raw=true);
  background-size: cover;
  background-position: center;
	background-attachment: fixed;
}

nav
{
    width: 85%;
    margin: auto;
    padding:15px 0;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    position: relative;
    top: -10px;

}


.carinfo{

	position: relative;
	float: right;
	margin-right: 20%;
	text-align:left;


}
.logo{
	width: 120px;
    cursor: pointer;
	border-radius: 20px;
}
nav ul li
{
    list-style:none ;
    display: inline-block;
    margin: 0 20px;
    padding: 5px;
    position: relative;
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

nav ul li::after
{
    content: '';
    height:3px ;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s;
}
nav ul li:hover::after
{
    width: 100%;
}
body{
	color: aliceblue;
}

.text1
{
    width: 100%;
    /* position: relative; */
    text-align: center;
    color: #fff;
    /* background-color: aquamarine; */
}

.text1 form button
{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.mother_container{
  width: 100vw;
  /* height: 100vh; */
  position: relative;
  /* background-color:#009688; */
}

.slideshow-container{
  width: 90vw;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  margin: 4vw;
}


.child_container{
  /* background-color: blue; */
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.mySlides{
  /* background-color: blue; */
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carpic{
	position: relative;
  width: 350px;
	height: 300px;
	border-radius: 60px;
	align-content: center;
}

.mySlides::before{
    content: "";
    position: absolute;
    width: 350px;
    height: 300px;
    border-radius: 60px;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
}

.text{
 position:absolute;
 display: grid;
 text-align: center;
}

.mover{
  position: absolute;
  width: 400px;
  display: flex;
  justify-content: space-between;
  /* background-color: blanchedalmond; */
}

.prev{
  width: 60px;
  height: 60px;
}
.next{
  width: 60px;
  height: 60px;
}

.fade1{
  /* margin-left: 100px; */
}
